*{
    margin:0;
    padding:0;
    box-sizing: border-box  ;
}

html{
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.container{
    width: 73rem;
    height: auto;
    
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 1rem;
}


nav{
    display:flex;
    justify-content: space-between;
    margin: 1rem 3rem;
    margin-top: 2rem;
    
}

nav > .notification{
    display: flex;
    justify-content: flex-start;
}

nav> .notification> h1{
    font-size: 2.5rem;
}

nav> .notification> #notification-count{
    width:3rem;
    height: 2.5rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    background-color: #0A327B;
    color: #fff;
    border-radius: 1rem;
}

nav > button{
    width:11.6rem;
    height: 2rem;
    font-size: 1.5rem;
    border: none;
    margin-top: auto;
    background-color: #fff;
    color: #5E6778;
    cursor: pointer;
}

nav > button:hover{
    color: #0A327B;
}

.cards{

    max-width: 67rem;
    min-height: 8rem;
    margin: 0.5rem auto;
    background-color: #E5EFFA;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.cards > .left{
    
    margin-left: 1rem;
}

.cards > .right{
    
    margin-left: 1rem;
    width: 55.4rem;
    min-height: 4.5rem;
    font-size: 1.5rem;
}

.description:after{
    content: '';
    display: inline-block;
    width:0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: red;
    margin-left: 1rem;
}

.card4>.right{
    margin-top: 2rem;
}


.card4 > .right>  .message{
    border:1px solid lightgray;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding:1rem;
    max-width:55.6rem;
    height: auto;
    border-radius: 1rem;
    display: block;
    opacity: 0.6;
}

.card1{
    margin-top: 2rem;
}

.timeline{
    opacity: 0.5;
}

.notification-item{
    opacity: 0.5;
}

.notification-item:hover{
    color: #0A327B;
    opacity: 1;
}

.name:hover{
    color: #0A327B;
}

.card5 > .right > img{
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inactive{
    background-color: whitesmoke;
}

.inactive > .right> .description:after{
    content: '';
    display: none;
    
}


@media screen and (max-width:790px){
    .container{
        width:90%;
        margin: 0 auto;
    }

    nav{
        width:90%;
    }

    .cards{
        width: 90%;
    }
}